@page "/Course"
@using System.Collections;
@using System.Collections.Generic;
@using System.Diagnostics
@using System.Net
@using System.Runtime.CompilerServices
@using MudBlazor.Utilities
@using Newtonsoft.Json
@using JsonSerializer = System.Text.Json.JsonSerializer

@code
{
    public bool ResultsVisible = false;
    
    
}



@if (this.Initialized)
{
    <MudGrid>
        <MudContainer xs="12" Style="align-items: center">
        <MudText Align="Align.Center" Class="logotext">Course<span style="color: #F15A22">View</span></MudText>
        </MudContainer>
        @* <MudSelect T="string" Style="z-index: 1" Variant="Variant.Text" xs="2" OnOpen="() => { this.ResultsVisible = (this.QueryString != null); }" ValueChanged = "()=>{ this.ResultsVisible = true; }"> *@
        @*     @for (int x = 0; x < CourseManager.Terms.Length; x++) *@
        @*     { *@
        @*         <MudSelectItem Value="@(CourseManager.Terms[x].ToLabelString())" OnClick="() => { Console.WriteLine(CourseManager.Terms[x].ToLabelString()); }"/> *@
        @*     } *@
        @* </MudSelect> *@
        <MudTextField Style="color: black; background-color: white; border-radius: 3px;"@bind-Value="@QueryString" Variant="Variant.Outlined" Label="Search for courses." Immediate="true" xs="8" TextChanged="@Search"></MudTextField>
        @* <MudButton @onclick="Searc
        h" xs="2">Search</MudButton> *@
        <MudFab Style="color: black; background-color: white; margin-top: 5px; margin-left: 5px;" StartIcon="@Icons.Material.Filled.Search" @onclick="@Search"></MudFab>
        @if (ResultsVisible)
        {
            <MudContainer xs="12">
                <div style="height: 80vh; overflow-y:scroll; align-content: center; margin-top: 35px;/*display: flex; flex-direction: row; flex-wrap: wrap*/">

                    @* <MudPaper Class="d-flex align-content-center flex-wrap flex-grow-1 gap-4" Style="overflow-y: scroll;" MaxWidth="608px" Height="100vh" Elevation="0"> *@
                    <Virtualize Items="@CourseManager.Courses" SpacerElement="div">
                        <ItemContent>
                            <CourseItem Instance=@context Visible="true"></CourseItem>
                            <div style="height: 5px;"></div>
                        </ItemContent>
                        <Placeholder>
                            <Card>
                                <CardTitle Title="Loading..."/>
                                <CardContent>
                                    In progress...
                                </CardContent>
                            </Card>
                        </Placeholder>

                    </Virtualize>

                    @* </MudPaper> *@</div></MudContainer>
        }
    </MudGrid>
    
}
@code {
}  
 

 
 